@CHARSET "UTF-8";

body {
    padding-top: 4.5em;
}

.angular2-contextmenu .dropdown-menu {
    margin-top: 4.5em !important;
}

label.btn {
    margin-bottom: 0px;
}

.card-header.card-sm,
.card-footer.card-sm {
    padding: .15rem 1rem;
}

.badge-btn {
    cursor: default;
}

a.badge {
    color: #fff !important;
}
a.badge:hover {
    color: inherit !important;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */


.table-small {
    font-size: 80%;
    font-weight: 400;
}
.table-small td,
.table-small th {
    padding-top: .3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .3rem;
}

.fa-small {
    font-size: 80% !important;
    font-weight: 400;
}

.fa-initial {
    display: initial !important;
}


.cursor-default {
    cursor: default;
}

.note {
    padding: .5rem 1rem;
    background-color: #f9f9f9;
    border-left: .25rem solid #eceeef;
}
.note-primary {
    border-left: .25rem solid #0275d8 !important;
}
.note-info {
    border-left: .25rem solid #bcdff1 !important;
}
