<div class="flex-column sidebar sidebar-primary" [class.sidebar-anchor]="anchor" [style.width.px]="actualWidth" (clickOutside)="close()">
    <div class="d-flex justify-content-between px-1 mb-3">
        <div>
            <button type="button" class="btn btn-primary px-2" (click)="toggleOpen()"><i class="fa fa-fw fa-bars"></i></button>
        </div>
        <div>
            <button type="button" class="btn btn-primary px-2" (click)="toggleAnchor()"><i class="fa fa-fw fa-thumb-tack" [class.fa-thumb-tack-anchor]="anchor"></i></button>
        </div>
    </div>
    <ul class="sidebar-menu">
        <li>
            <a routerLink="/comptes" routerLinkActive="active"><i class="fa fa-book fa-initial"></i> Gestion des comptes</a>
        </li>
        <li>
            <a routerLink="/regles" routerLinkActive="active"><i class="fa fa-cogs fa-initial"></i> Gestion des règles</a>
        </li>
        <!--
        <li>
            <a class="disabled" href="#">Disabled</a>
        </li>
        -->
    </ul>
</div>