<div class="row">
    <div *ngIf="!form" class="col-2"></div>
    <div [class.col-4]="form" [class.col-8]="!form">
        <div class="card mb-2">
            <div class="card-block">
                <h6 class="card-subtitle mb-2 text-muted">Type de règle</h6>
                <div class="small w-100 text-justify">
                    Les types de règles sont proposés dans l'ordre de leur
                    application lors de l'intégration (l'application des règles
                    étant marquées en "auto").
                </div>
                <div ngbDropdown class="d-inline-block w-100 mt-2">
                    <button id="types" class="btn btn-outline-primary w-100" ngbDropdownToggle [ngSwitch]="selectedType">
                        <span *ngSwitchCase="'xyz.sebastienm4j.kilburn.api.operation.domain.regle.PackageOperationRegle'">Conditionnement d'opérations</span>
                        <span *ngSwitchCase="'xyz.sebastienm4j.kilburn.api.operation.domain.regle.AmendOperationRegle'">Modification d'une opération</span>
                        <span *ngSwitchDefault>Sélectionner un type de règle</span>
                    </button>
                    <div class="dropdown-menu w-100">
                        <button (click)="selectType('xyz.sebastienm4j.kilburn.api.operation.domain.regle.PackageOperationRegle')" class="dropdown-item">#1 Conditionnement d'opérations</button>
                        <button (click)="selectType('xyz.sebastienm4j.kilburn.api.operation.domain.regle.AmendOperationRegle')" class="dropdown-item">#2 Modification d'une opération</button>
                    </div>
                </div>
                <div *ngIf="selectedType" [ngSwitch]="selectedType" class="note note-primary text-justify small mt-2">
                    <div *ngSwitchCase="'xyz.sebastienm4j.kilburn.api.operation.domain.regle.PackageOperationRegle'">
                        Règle permettant de regrouper plusieurs opérations en une, ou
                        de ventiler une opération en plusieurs.
                    </div>
                    <div *ngSwitchCase="'xyz.sebastienm4j.kilburn.api.operation.domain.regle.AmendOperationRegle'">
                        Règle permettant de modifier une opération de manière unitaire, c'est-à-dire
                        de pouvoir affecter/modifier certaines valeurs de l'opération.<br/>
                        <br/>
                        Liste des valeurs modifiables : date, date de valeur, mode, tiers, libellé,
                        référence, commentaire, tags.
                    </div>
                    <div *ngSwitchDefault></div>
                </div>
            </div>
        </div>

        <div class="row justify-content-end mb-2">
            <div class="col d-flex justify-content-end">
                <div class="input-group mr-2">
                    <input type="text" (input)="filterByText($event.target.value)" [disabled]="!selectedType" class="form-control" placeholder="Rechercher une règle..." />
                </div>
                <button type="button" class="btn btn-primary" (click)="newRegle()" [disabled]="!selectedType"><i class="fa fa-plus"></i> Nouvelle</button>
            </div>
        </div>

        <div class="list-group">
            <button *ngFor="let rgl of displayedRegles" class="list-group-item list-group-item-action justify-content-between" (click)="editRegle(rgl)" long-press (onLongPress)="reorderRegle(rgl)" [contextMenu]="contextMenuRegle" [contextMenuSubject]="rgl">
                {{rgl.libelle}}
                <span *ngIf="rgl.auto && !reorder" class="badge badge-default badge-pill"><i class="fa fa-cogs"></i> auto</span>
                <div *ngIf="reorder && reorderedRegle.id === rgl.id" class="btn-group">
                    <button class="btn btn-sm btn-secondary" (click)="reorderUp()"><i class="fa fa-arrow-circle-up"></i></button>
                    <button class="btn btn-sm btn-secondary" (click)="reorderDown()"><i class="fa fa-arrow-circle-down"></i></button>
                    <button class="btn btn-sm btn-secondary" (click)="reorderValidate()"><i class="fa fa-check"></i></button>
                </div>
            </button>
            <context-menu>
                <template contextMenuItem (execute)="editRegle($event.item)">
                    <i class="fa fa-edit"></i> Modifier
                </template>
                <template contextMenuItem (execute)="deleteRegle($event.item)">
                    <i class="fa fa-trash-o"></i> Supprimer
                </template>
                <template contextMenuItem (execute)="reorderRegle($event.item)">
                    <i class="fa fa-sort"></i> Ordoner
                </template>
            </context-menu>
        </div>
    </div>
    <div *ngIf="!form" class="col-2"></div>
    <div *ngIf="form" class="col-8">
        <regle-form *ngIf="form" [mode]="formMode" [regle]="editedRegle" (onSave)="regleSaved($event)" (onClose)="closeForm()"></regle-form>
    </div>
</div>
