<div class="row justify-content-end mb-2">
    <div class="col-sm-4 d-flex justify-content-end">
        <div class="input-group mr-2">
            <input type="text" (input)="filterByText($event.target.value)" class="form-control" placeholder="Rechercher un compte..." />
            <span class="input-group-btn" data-toggle="buttons">
                <label class="btn btn-secondary" [class.active]="filters">
                    <input type="checkbox" [(ngModel)]="filters"><i class="fa fa-filter"></i>
                </label>
            </span>
        </div>
        <button type="button" class="btn btn-primary" routerLink="/comptes/ajout"><i class="fa fa-plus"></i> Nouveau</button>
    </div>
</div>

<div *ngIf="filters" class="card mt-2 mb-2">
    <div class="card-header card-sm">
        Filtres
    </div>
    <div class="card-block">
        <div class="row w-100">
            <div class="col-md-1">
                Type :
            </div>
            <div class="col">
                <span *ngFor="let f of typeFilter" (click)="filterByTypeOrTag(f)" class="badge badge-btn badge-default mr-1">
                    {{f.label}}
                    <i *ngIf="!f.filter" class="fa fa-square-o"></i>
                    <i *ngIf="f.filter" class="fa fa-check-square-o"></i>
                </span>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-md-1">
                Tag :
            </div>
            <div class="col">
                <span *ngFor="let f of tagFilter" (click)="filterByTypeOrTag(f)" class="badge badge-btn badge-primary mr-1">
                    {{f.label}}
                    <i *ngIf="!f.filter" class="fa fa-square-o"></i>
                    <i *ngIf="f.filter" class="fa fa-check-square-o"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="card-footer card-sm">
        {{displayedComptes.length}} compte(s)
    </div>
</div>

<div class="list-group">
    <a *ngFor="let cpt of displayedComptes" class="list-group-item list-group-item-action" long-press (onLongPress)="gotoCompteForm(cpt)" [contextMenu]="contextMenuCompte" [contextMenuSubject]="cpt" routerLink="/comptes/{{cpt.id}}/operations">
        <div class="row w-100">
            <div class="col-md-1">
                <span [ngSwitch]="cpt.type">
                    <span *ngSwitchCase="'CHEQUE'" class="badge badge-default">Chèque</span>
                    <span *ngSwitchCase="'LIVRET_A'" class="badge badge-default">Livret A</span>
                    <span *ngSwitchDefault class="badge badge-default">{{cpt.type}}</span>
                </span>
            </div>
            <div class="col-md">
                {{cpt.libelle}} <small>n° {{cpt.numero}}</small>
            </div>
            <div class="col-md">
                <span *ngFor="let t of cpt.tags" class="badge badge-primary mr-1">{{t}}</span>
            </div>
            <div class="col text-right">
                <span class="align-middle" [class.text-danger]="cpt.solde < 0">{{cpt.solde | currency:'EUR':true }}</span>
            </div>
        </div>
    </a>
    <context-menu>
        <template contextMenuItem (execute)="gotoOperationList($event.item)">
            <i class="fa fa-list"></i> Liste des opérations
        </template>
        <template contextMenuItem (execute)="gotoCompteForm($event.item)">
            <i class="fa fa-edit"></i> Modifier
        </template>
        <template contextMenuItem (execute)="deleteCompte($event.item)">
            <i class="fa fa-trash-o"></i> Supprimer
        </template>
    </context-menu>
</div>

