<div class="row w-100">
    <div class="col-lg-12">
        <h5>{{title}}</h5>
        <hr />
    </div>
</div>

<div class="row w-100">
    <div class="col-lg-2"></div>
    
    <div class="col-lg-8">
        <form #compteForm="ngForm">
            <div class="form-group row">
                <div class="col-lg-6" [class.has-danger]="(loaded || libelle.touched) && !libelle.valid">
                    <label for="libelle" class="form-control-label">Libellé</label>
                    <input id="libelle" name="libelle" type="text" [(ngModel)]="compte.libelle" class="form-control" #libelle="ngModel" required maxlength="100" />
                </div>
                <div class="col-lg-6" [class.has-danger]="(loaded || type.touched) && !type.valid">
                    <label for="type" class="form-control-label">Type</label>
                    <select id="type" name="type" [(ngModel)]="compte.type" class="form-control" #type="ngModel" required>
                        <option value="CHEQUE">Chèque</option>
                        <option value="CEL">Compte Epargne Logement</option>
                        <option value="LIVRET_A">Livret A</option>
                        <option value="PEL">Plan d'Epargne Logement</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-12" [class.has-danger]="(loaded || numero.touched) && !numero.valid">
                    <label for="numero" class="form-control-label">Numéro</label>
                    <input id="numero" name="numero" type="text" [(ngModel)]="compte.numero" class="form-control" #numero="ngModel" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8" [class.has-danger]="(loaded || iban.touched) && !iban.valid">
                    <label for="iban" class="form-control-label">IBAN</label>
                    <input id="iban" name="iban" type="text" [(ngModel)]="compte.iban" class="form-control" #iban="ngModel" maxlength="27" />
                </div>
                <div class="col-lg-4" [class.has-danger]="loaded && !bic.valid">
                    <label for="bic">BIC</label>
                    <input id="bic" name="bic" type="text" [(ngModel)]="compte.bic" class="form-control" #bic="ngModel" maxlength="11" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2" [class.has-danger]="(loaded || ribBanque.touched) && !ribBanque.valid">
                    <label for="ribBanque" class="form-control-label">Code banque</label>
                    <input id="ribBanque" name="ribBanque" type="text"[(ngModel)]="compte.ribBanque" class="form-control" #ribBanque="ngModel" maxlength="5" />
                </div>
                <div class="col-lg-2" [class.has-danger]="(loaded || ribGuichet.touched) && !ribGuichet.valid">
                    <label for="ribGuichet" class="form-control-label">Code guichet</label>
                    <input id="ribGuichet" name="ribGuichet" type="text"[(ngModel)]="compte.ribGuichet" class="form-control" #ribGuichet="ngModel" maxlength="5" />
                </div>
                <div class="col-lg-6" [class.has-danger]="(loaded || ribCompte.touched) && !ribCompte.valid">
                    <label for="ribCompte" class="form-control-label">N° de compte</label>
                    <input id="ribCompte" name="ribCompte" type="text"[(ngModel)]="compte.ribCompte" class="form-control" #ribCompte="ngModel" maxlength="11" />
                </div>
                <div class="col-lg-2" [class.has-danger]="(loaded || ribCle.touched) && !ribCle.valid">
                    <label for="ribCle" class="form-control-label">Clé RIB</label>
                    <input id="ribCle" name="ribCle" type="text"[(ngModel)]="compte.ribCle" class="form-control" #ribCle="ngModel" maxlength="2" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-auto ml-3" style="margin-top: 2.3rem!important;">
                    <a *ngFor="let t of compte.tags" (click)="deleteTag(t)" class="badge badge-primary mr-1">
                        {{t}}
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
                <div class="col-lg-3">
                    <label for="tag">Tags</label>
                    <div class="input-group">
                        <input id="tag" name="tag" type="text" [(ngModel)]="addingTag" (keyup.enter)="handleTagEnter()" [ngbTypeahead]="searchTags" class="form-control" />
                        <div class="input-group-btn">
                            <button class="btn btn-secondary" (click)="handleTagClick()"><i class="fa fa-tag"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <div class="col-lg-2"></div>
</div>

<div class="row w-100 mt-4 mb-4">
    <div class="col-lg-2"></div>
    
    <div class="col-lg-8">
        <hr />
        <div class="row justify-content-end">
            <div class="col-auto mr-3">
                <button type="button" (click)="save()" class="btn btn-primary" [disabled]="!compteForm.form.valid"><i class="fa fa-floppy-o"></i> Enregistrer</button>
                <button type="button" (click)="cancel()" class="btn btn-secondary">Annuler</button>
            </div>
        </div>
    </div>
    
    <div class="col-lg-2"></div>
</div>
