<div class="card mt-2 mb-2">
    <div class="card-header card-sm">
        Application d'une règle
    </div>
    <div class="card-block">
        <div class="row w-100">
            <div class="col-6">
                <div ngbDropdown class="d-inline-block w-100 mt-2">
                    <button id="packageRegles" class="btn w-100" [class.btn-primary]="selectedPackageRegle" [class.btn-outline-primary]="!selectedPackageRegle" ngbDropdownToggle>
                        <span *ngIf="!selectedPackageRegle">Conditionnement d'opérations</span>
                        <span *ngIf="selectedPackageRegle">{{selectedPackageRegle.libelle}}</span>
                    </button>
                    <div class="dropdown-menu w-100">
                        <button *ngFor="let r of packageRegles" (click)="selectPackageRegle(r)" class="dropdown-item">{{r.libelle}}</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div ngbDropdown class="d-inline-block w-100 mt-2">
                    <button id="amendRegles" class="btn w-100" [class.btn-primary]="selectedAmendRegle" [class.btn-outline-primary]="!selectedAmendRegle" ngbDropdownToggle>
                        <span *ngIf="!selectedAmendRegle">Modification d'une opération</span>
                        <span *ngIf="selectedAmendRegle">{{selectedAmendRegle.libelle}}</span>
                    </button>
                    <div class="dropdown-menu w-100">
                        <button *ngFor="let r of amendRegles" (click)="selectAmendRegle(r)" class="dropdown-item">{{r.libelle}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-100 mt-2">
            <div class="col-6">
                <span *ngIf="selectedPackageRegle && selectedPackageRegle.description"><i class="fa fa-info-circle"></i> {{selectedPackageRegle.description}}</span>
            </div>
            <div class="col-6">
                <span *ngIf="selectedAmendRegle && selectedAmendRegle.description"><i class="fa fa-info-circle"></i> {{selectedAmendRegle.description}}</span>
            </div>
        </div>
    </div>
    <div class="card-footer card-sm">
        <div class="row justify-content-end">
            <div class="col-auto">
                <button type="button" class="btn btn-primary btn-sm" [disabled]="!selectedPackageRegle && !selectedAmendRegle" (click)="apply()"><i class="fa fa-cogs"></i> Appliquer</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="cancel()">Annuler</button>
            </div>
        </div>
    </div>
</div>