<div class="card mt-2 mb-2">
    <div class="card-header card-sm">
        <span *ngIf="mode == 'new'">Nouvelle opération</span>
        <span *ngIf="mode == 'update'">Modification de l'opération</span>
    </div>
    <div class="card-block">
        <form>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="date">Date</label>
                    <div class="input-group">
                        <input id="date" name="date" class="form-control form-control-sm" [(ngModel)]="editedOperation.dateForPicker" ngbDatepicker #date="ngbDatepicker">
                        <div class="input-group-addon" (click)="date.toggle()" >
                            <i class="fa fa-calendar fa-small"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="dateValeur">Date de valeur</label>
                    <div class="input-group">
                        <input id="dateValeur" name="dateValeur" class="form-control form-control-sm" [(ngModel)]="editedOperation.dateValeurForPicker" ngbDatepicker #dateValeur="ngbDatepicker">
                        <div class="input-group-addon" (click)="dateValeur.toggle()" >
                            <i class="fa fa-calendar fa-small"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="mode">Mode</label>
                    <select id="mode" name="mode" class="form-control form-control-sm" [(ngModel)]="editedOperation.mode">
                        <option value="CARTE">Carte</option>
                        <option value="RETRAIT">Retrait</option>
                        <option value="VERSEMENT">Versement</option>
                        <option value="CHEQUE">Chèque</option>
                        <option value="REMISE">Remise</option>
                        <option value="VIREMENT">Virement</option>
                        <option value="PRELEVEMENT">Prélèvement</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="reference">Référence</label>
                    <input id="reference" name="reference" class="form-control form-control-sm" [(ngModel)]="editedOperation.reference">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="tiers">Tiers</label>
                    <div class="input-group">
                        <input id="tiers" name="tiers" type="text" class="form-control form-control-sm" [(ngModel)]="editedOperation.tiers" [ngbTypeahead]="searchTiers" />
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="libelle">Libellé</label>
                    <div class="input-group">
                        <input id="libelle" name="libelle" type="text" class="form-control form-control-sm" [(ngModel)]="editedOperation.libelle" />
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="commentaire">Commentaire</label>
                    <div class="input-group">
                        <textarea id="commentaire" name="commentaire" class="form-control form-control-sm" rows="1" [(ngModel)]="editedOperation.commentaire"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">Tags :</div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input id="tag" name="tag" type="text" class="form-control form-control-sm" [(ngModel)]="editedOperationNewTag" [ngbTypeahead]="searchTag" />
                        <div class="input-group-addon" (click)="editedOperationAddTag()">
                            <i class="fa fa-tag fa-small"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto ml-3">
                    <a *ngFor="let t of editedOperation.tags" class="badge badge-primary mr-1" (click)="editedOperationDeleteTag(t)">
                        {{t}}
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">Montant :</div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input id="montant" name="montant" type="text" class="form-control form-control-sm" [(ngModel)]="editedOperation.montant" />
                        <div class="input-group-addon">
                            <i class="fa fa-eur fa-small"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">Pointage :</div>
                <div class="col-md-3">
                    <input id="pointage" name="pointage" type="checkbox" [(ngModel)]="editedOperation.pointee" /><label for="pointage"></label>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer card-sm">
        <div class="row justify-content-end">
            <div class="col-auto">
                <button type="button" class="btn btn-primary btn-sm" (click)="editedOperationSave()"><i class="fa fa-floppy-o"></i> Enregistrer</button>
                <button *ngIf="mode == 'new'" type="button" class="btn btn-secondary btn-sm" (click)="editedOperationSaveAndContinue()"><i class="fa fa-floppy-o"></i> Enregistrer & Continuer</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="editedOperationCancel()">Annuler</button>
            </div>
        </div>
    </div>
</div>
