<div class="modal-header">
    <h5 class="modal-title" [ngClass]="titleClass">{{title}}</h5>
    <button type="button" class="close" (click)="modal.dismiss()">
        <i class="fa fa-times"></i>
    </button>
</div>
<div class="modal-body" [ngClass]="messageClass">
    {{message}}
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" *ngIf="type != messageDialogType.CONFIRM" (click)="modal.dismiss()">Fermer</button>
    <button class="btn btn-primary" *ngIf="type == messageDialogType.CONFIRM" (click)="modal.close()">Oui</button>
    <button class="btn btn-secondary" *ngIf="type == messageDialogType.CONFIRM" (click)="modal.dismiss()">Non</button>
</div>